@tailwind base;
@tailwind components;
@tailwind utilities;
.max-h-custom {
    max-height: 70vh;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}